 * {
   box-sizing: border-box;
   color: white;
 }

 /* img {
   object-fit: cover;
 } */

 body {
   margin: 0px;
   font-family: 'segoe ui';
   overflow-x: hidden;
 }

 .nav {
   height: 50px;
   width: 100%;
   position: relative;
 }

 .nav>.nav-header {
   display: inline;
 }

 .nav>.nav-header>.nav-title {
   display: inline-block;
   font-size: 22px;
   color: #fff;
   padding: 10px 10px 10px 10px;
 }

 .nav>.nav-btn {
   display: none;
 }

 .nav>.nav-links {
   display: inline;
   margin-left: 170px;
   font-size: 18px;
 }

 .nav>.nav-links>a {
   display: inline-block;
   padding: 13px 10px 13px 10px;
   text-decoration: none;
   color: #efefef;
 }

 .nav>#nav-check {
   display: none;
 }

 .navbtn {
   margin-left: 100px;
   height: 50px;
   width: 150px;
   border-radius: 30px;
   background-color: rgb(61, 146, 202);
   font-size: 15px;
   box-shadow: rgba(139, 137, 137, 0.24) 0px 3px 8px;
 }

 /* first portion  */
 .first {
   width: 70%;
   margin: auto;
 }

 .firsth1 {
   font-size: 74px;
   text-align: center;
 }

 .firstp {
   font-size: 27px;
   text-align: center;
   color: rgb(181, 152, 209);
 }

 .mainbtn {
   display: flex;
   justify-content: center;
   gap: 20px;
 }

 .mainbtn>button {
   width: 150px;
   height: 50px;
   border-radius: 30px;
   background-color: rgba(94, 92, 97, 0.87);
   font-size: 15px;
   border: none;
   box-shadow: rgba(139, 137, 137, 0.24) 0px 3px 8px;
 }


 :root {
   --card-height: 40vw;
   --card-margin: 4vw;
   --card-top-offset: 1em;
   --numcards: 4;
   --outline-width: 0px;
 }

 body {
   background: #131212;
   color: beige;
   text-align: center;
   padding-bottom: 20vh
 }

 #cards {
   list-style: none;
   padding: 20px;
   margin: 0;
   padding-bottom: 0px;
 }

 #card-1 {
   --index: 1;
 }

 #card-2 {
   --index: 2;
 }

 .card {
   position: sticky;
   top: 0;
   padding-top: calc(var(--index) * var(--card-top-offset));
 }


 /* Animation */
 @supports (animation-timeline: works) {

   @scroll-timeline cards-element-scrolls-in-body {
     source: selector(body);
     scroll-offsets:
       selector(#cards) start 1,
       selector(#cards) start 0;
     start: selector(#cards) start 1;
     end: selector(#cards) start 0;
     time-range: 4s;
   }

   .card {
     --index0: calc(var(--index) - 1);
     --reverse-index: calc(var(--numcards) - var(--index0));
     --reverse-index0: calc(var(--reverse-index) - 1);
   }

   .card__content {
     transform-origin: 50% 0%;
     will-change: transform;

     --duration: calc(var(--reverse-index0) * 1s);
     --delay: calc(var(--index0) * 1s);

     animation: var(--duration) linear scale var(--delay) forwards;
     animation-timeline: cards-element-scrolls-in-body;
   }

   @keyframes scale {
     to {
       transform:
         scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
     }
   }
 }

 .scrolimg {
   height: 600px;
   width: 85%;
   border-radius: 30px;
   box-shadow: rgba(139, 137, 137, 0.24) 0px 3px 8px;
 }

 /* third portion  */
 .scrolimg2 {
   height: 560px;
   width: 83%;
   border-radius: 30px;
   margin-top: 20px;
   box-shadow: rgba(139, 137, 137, 0.24) 0px 3px 8px;
 }

 /* forth portion  */
 .forthh1 {
   font-size: 70px;
   width: 70%;
   margin: auto;
 }

 .forthp {
   font-size: 20px;
   width: 70%;
   margin: auto;
   color: rgb(181, 152, 209);
 }

 .forthp2 {
   color: blue
 }

 /* fifth portion  */
 .scrolimg3 {
   height: 600px;
   width: 83%;
   border-radius: 30px;
   margin-top: 20px;
   box-shadow: rgba(139, 137, 137, 0.24) 0px 3px 8px;
 }

 /* six portion  */
 .six {
   display: flex;
   width: 100%;
   margin-top: 20px;
 }

 .sixh1 {
   width: 50%;
 }

 .sixh1>h1 {
   width: 70%;
   margin: auto;
 }

 .sixp {
   width: 50%;
 }

 .sixp>p {
   width: 70%;
   margin: auto;
   color: rgb(181, 152, 209);
 }

 /* seven portion  */
 .seven {
   display: flex;
   width: 100%;
   margin-top: 20px;
 }

 .sevenimg {
   width: 50%;
 }

 .sevenimg>img {
   height: 500px;
   border-radius: 30px;
   width: 70%;
   margin: auto;
   box-shadow: rgba(139, 137, 137, 0.24) 0px 3px 8px;
 }

 .seventxt {
   width: 50%;
   margin-top: 100px;
 }

 .seventxt>h2 {
   width: 70%;
 }

 .seventxt>p {
   width: 70%;
   color: rgb(181, 152, 209);
 }

 /* eight portion */
 .eight {
   display: flex;
   width: 100%;
   margin-top: 40px;
 }

 .eighttxt {
   width: 50%;
   margin-top: 100px;
 }

 .eighttxt>h2 {
   width: 70%;
   margin: auto;
 }

 .eighttxt>p {
   width: 70%;
   color: rgb(181, 152, 209);
   margin: auto;
 }

 .eightimg {
   width: 50%;
 }

 .eightimg>img {
   height: 500px;
   border-radius: 30px;
   width: 70%;
   margin: auto;
   box-shadow: rgba(139, 137, 137, 0.24) 0px 3px 8px;
 }

 /* nine portion  */
 .scrolimg4 {
   height: 600px;
   width: 83%;
   border-radius: 30px;
   margin-top: 20px;
   box-shadow: rgba(139, 137, 137, 0.24) 0px 3px 8px;
 }

 /* ten portion  */
 .list2>li {
   list-style: none;
   display: inline;
   padding: 15px;
   color: gray;
   font-weight: 500;
 }

 .list2>li:hover {
   border-bottom: 1px solid white;
 }

 .tenflex {
   display: flex;
   width: 100%;
   margin-top: 20px;
 }

 .tenh2 {
   width: 50%;
 }

 .tenh2>h2 {
   width: 60%;
   margin-left: auto;
 }

 .tenp {
   width: 50%;
 }

 .tenp>p {
   width: 70%;
   margin-right: auto;
   color: rgb(181, 152, 209);
 }

 /* eleven portion  */
 .eleven {
   width: 50%;
   margin: auto;
 }

 .elevenh1 {
   font-size: 60px;
 }

 .elevenp {
   color: rgb(181, 152, 209);
 }

 /* twelve portion  */
 .twelve {
   display: flex;
   width: 100%;
   margin-top: 20px;
 }

 .twelveimg {
   width: 50%;
 }

 .twelveimg>img {
   height: 500px;
   width: 100%;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
   box-shadow: rgba(139, 137, 137, 0.24) 0px 3px 8px;
 }

 .twelvetxt {
   width: 50%;
 }

 .twelvetxt>p {
   width: 50%;
   margin: auto;
   color: rgb(181, 152, 209);
 }

 .twelvetxt>h1 {
   margin-top: 100px;
 }

 /* thirteen portion  */
 .thirteen {
   display: flex;
   width: 100%;
   margin: 50px;
 }

 .thirteentxt {
   width: 40%;
 }

 .thirteentxt>p {
   width: 50%;
   margin: auto;
   color: rgb(181, 152, 209);
 }

 /* .thirteentxt>h1{
      width: 50%;
      margin: auto;
      margin-top: 20px;
     }
     .thirteenimg{
      width: 50%;
     }
     .thirteenimg>img{
      width: 70%;
       border-radius: 10px;
       box-shadow: 0 4px 8px 0 rgba(221, 207, 207, 0.2), 0 6px 20px 0 rgba(213, 198, 198, 0.19)
     } */
 /* forteen portion  */
 /* .forteen{
      display: flex;
      width: 100%;
     }
     .forteenimg1>img{
      width:   100%;
      position: relative;
       top: 300px;
      right: 150px;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(221, 207, 207, 0.2), 0 6px 20px 0 rgba(213, 198, 198, 0.19)
     }
     .forteenimg2>img{
      width:100%;
      position: relative;
       top: 150px;
       border-radius: 10px;
       box-shadow: 0 4px 8px 0 rgba(221, 207, 207, 0.2), 0 6px 20px 0 rgba(213, 198, 198, 0.19)
     }
     .forteenimg3>img{
       width:  100%; 
       position: relative;
      left: 150px;
      border-radius: 10px;
      box-shadow: 0 4px 8px 0 rgba(221, 207, 207, 0.2), 0 6px 20px 0 rgba(213, 198, 198, 0.19)
     } */
 /* fifteen portion  */
 .fifteen {
   width: 50%;
   margin: auto;
 }

 .fifteen>P {
   color: rgb(181, 152, 209);
 }

 .fifteen>h1 {
   font-size: 70px;
 }

 /* sisteen portion  */
 .sixteen {
   width: 100%;
 }

 .boxmain {
   display: flex;
   width: 80%;
   margin: auto;
 }

 .box1 {
   height: 200px;
   width: 50%;
   background-color: #090910;
   padding: 20px;
   border-radius: 20px;
 }

 .box2 {
   height: 200px;
   width: 50%;
   background-color: #090910;
   margin-top: 3px;
   padding: 20px;
   border-radius: 20px;
 }

 .box3 {
   height: 200px;
   width: 50%;
   background-color: #090910;
   margin-top: 3px;
   padding: 20px;
   border-radius: 20px;
 }

 .box1>p {
   margin-top: 10px;
   width: 80%;
   margin: auto;
   color: rgb(153, 148, 148);
 }

 .box2>p {
   width: 80%;
   margin: auto;
   color: rgb(153, 148, 148);
 }

 .box3>p {
   width: 80%;
   margin: auto;
   color: rgb(153, 148, 148);
 }

 /* seventeen portion  */
 .seventeen {
   width: 100%;
 }

 .seventeen>h1 {
   font-size: 50px;
   width: 50%;
   margin: auto;
 }

 .seventeen>p {
   width: 70%;
   margin: auto;
   color: rgb(181, 152, 209);
 }

 .mainbtn2>button {
   margin-top: 10px;
   width: 200px;
   height: 50px;
   border-radius: 30px;
   background-color: rgba(94, 92, 97, 0.87);
   font-size: 15px;
   border: none;
   box-shadow: rgba(139, 137, 137, 0.24) 0px 3px 8px;
 }

 /* eighteen portion  */
 .scrolimg5 {
   height: 600px;
   width: 83%;
   border-radius: 30px;
   margin-top: 20px;
   box-shadow: rgba(139, 137, 137, 0.24) 0px 3px 8px;
 }

 /* nineteen portion  */
 .nineteen>h1 {
   width: 50%;
   margin: auto;
   font-size: 50px;
 }

 .nineteen>p {
   color: rgb(159, 52, 14);
 }

 /* twenty portion  */
 .twenty{
  overflow: hidden;
 }
 .fimg3>img {
   height: 350px;
   padding: 4px;
   border-radius: 30px;
   box-shadow: rgba(139, 137, 137, 0.24) 0px 3px 8px;
 }
 .fimg3 img:hover{
  transform: scale(1.2);
  transition: all ease-in-out .5s;
}
 /* twenty1 portion  */
 .twenty1>h1 {
   width: 50%;
   margin: auto;
   font-size: 50px;
 }

 /* twenty2 portion  */
 .twenty2 {
   width: 100%;
   display: flex;
   margin-top: 100px;
 }

 div.relative {
   position: relative;
   width: 50%;
 }

 div.absolute {
   position: absolute;
   top: 70px;
   right: -89px;
 }

 .img1 {
   width: 100%;
   height: 500px;
 }

 .img2 {
   height: 400px;
   border-radius: 10px;
   border: 5px solid #382e2e;
   border-radius: 30px;
 }

 .txt {
   width: 50%;
   margin-top: 100px;
 }

 .txt2 {
   width: 60%;
   margin: auto;
 }

 .txt2>p {
   color: gray;
 }

 /* twenty4 portion */
 .twenty4>h1 {
   font-size: 50px;
   width: 50%;
   margin: auto;
 }

 /* twenty5 portion  */
 .twenty5 {
   display: flex;
   margin-top: 50px;
 }

 .txt3 {
   width: 50%;
 }

 .txt3>p {
   width: 50%;
   margin: auto;
   text-align: initial;
   color: gray;
 }

 .txt3>h1 {
   width: 50%;
   margin: auto;
   text-align: initial;
   margin-top: 50px;
 }

 .fleximg {
   width: 50%;
 }

 .fleximg>img {
   width: 100%;
   height: 400px;
 }
 /* twenty8 portion  */
 .backimg{
  background-image: url(backgroundimg.jpeg);
  height: 80vmax;
  background-size: cover;
  width: 100%;
  
 }
 .txt4{
  padding: 20px;
 }
 .txt4>p{
  width: 50%;
   font-size: 20px;
  color: gray;
 }
 .p1{
  width: 50%;
  font-size: 20px;
  color: gray;
 }
 .txt4>h1{
  font-size: 50px;
  width: 50%;
 }
 /* twenty seven portion  */
 .twenty7>img{
    height: 500px ;
    width: 85%;
    border-radius: 20px;  
    margin-top: 30px;
    box-shadow: rgba(139, 137, 137, 0.24) 0px 3px 8px;
 }

 /* responsive Part  */
 @media only screen and (max-width: 1148px) {
   .nav>.nav-links {
     display: inline;
     margin-left: 70px;
     font-size: 18px;
   }

   .navbtn {
     margin-left: 30px;
   }

   .nav-title {
     float: left;
   }

   .box1>p {
     font-size: 14px;
   }

   .box2>p {
     font-size: 14px;
   }

   .box3>p {
     font-size: 14px;
   }

   .fimg3>img {
     height: 330px;
     width: 30%;
   }

   .simg3>img {
     height: 330px;
     width: 30%;
   }
 }

 @media only screen and (max-width: 1024px) {
   .firsth1 {
     font-size: 44px;
   }

   .firstp {
     font-size: 20px;
   }

   .forthh1 {
     font-size: 60px;
   }

   .forthp {
     font-size: 20px;
   }

   .seventxt>h2 {
     font-size: 20px;
   }

   .seventxt>p {
     font-size: 15px;
   }

   .eighttxt>h2 {
     font-size: 20px;
   }

   .eighttxt>p {
     font-size: 15px;
   }

   .thirteentxt>p {
     font-size: 15px;
   }
 }

 @media (max-width:992px) {
   .nav>.nav-btn {
     display: inline-block;
     position: absolute;
     right: 0px;
     top: 0px;
   }

   .nav>.nav-btn>label {
     display: inline-block;
     width: 50px;
     height: 50px;
     padding: 13px;
   }

   .nav>.nav-btn>label:hover,
   .nav #nav-check:checked~.nav-btn>label {
     background-color: rgba(0, 0, 0, 0.3);
   }

   .nav>.nav-btn>label>span {
     display: block;
     width: 25px;
     height: 10px;
     border-top: 2px solid #eee;
   }

   .nav>.nav-links {
     position: absolute;
     display: block;
     width: 100%;
     background-color: #333;
     height: 0px;
     transition: all 0.3s ease-in;
     overflow-y: hidden;
     top: 50px;
     right: 0px;
   }


   .nav>.nav-links>a {
     display: block;
     width: 100%;
   }

   .nav>#nav-check:not(:checked)~.nav-links {
     height: 0px;
   }

   .nav>#nav-check:checked~.nav-links {
     height: calc(100vh - 50px);
     overflow-y: auto;
   }
 }

 /* first portion responsive */
 @media only screen and (max-width: 992px) {
   .firsth1 {
     font-size: 50px;
   }

   .sixh1>h1 {
     font-size: 27px;
   }

   .list2>li {
     padding: 10px;
   }

   .tenp>p {
     font-size: 15px;
   }

   .tenh2>h2 {
     font-size: 20px;
   }

   .elevenh1 {
     font-size: 40px;
   }

   .twelvetxt>p {
     font-size: 15px;
     width: 70%;
   }

   .twelveimg>img {
     height: 400px;
   }

   .twelvetxt>h1 {
     font-size: 30px;
   }

   .thirteentxt>h1 {
     font-size: 25px;
   }

   .thirteentxt>p {
     font-size: 13px;
   }

   .fifteen>h1 {
     font-size: 30px;
   }

   .seventeen>h1 {
     font-size: 40px;
   }

   .box1>p {
     font-size: 13px;
     width: 100%;
   }

   .box2>p {
     font-size: 13px;
     width: 100%;
   }

   .box3>p {
     font-size: 13px;
     width: 100%;
   }

   .twenty1>h1 {
     font-size: 40px;
   }

   .txt2>p {
     font-size: 12px;
   }

   .txt2>h1 {
     font-size: 20px;
   }

   .txt2>h2 {
     font-size: 20px;
   }

   .img1 {
     height: 450px;
   }

   div.absolute {
     position: absolute;
     top: 48px;
     right: -50px;
   }

   .fimg3>img {
     height: 250px;
   }
   .txt3>p{
    font-size: 8px;
   }
   .twenty7>img{
    height: 360px;
   }
 }

 @media only screen and (max-width: 768px) {
   .scrolimg {
     height: 400px;
   }

   .scrolimg2 {
     height: 400px;
   }

   .scrolimg3 {
     height: 400px;
   }

   .scrolimg4 {
     height: 400px;
   }

   .scrolimg5 {
     height: 400px;
   }

   .firsth1 {
     font-size: 40px;
   }

   .firstp {
     font-size: 14px;
   }

   .forthh1 {
     font-size: 50px;
   }

   .sixh1>h1 {
     font-size: 20px;
   }

   .sixp>p {
     font-size: 13px;
   }

   .sevenimg>img {
     height: 300px;
   }

   .seventxt>h2 {
     font-size: 18px;
   }

   .seventxt>p {
     font-size: 13px;
   }

   .eightimg>img {
     height: 300px;
   }

   .eighttxt>h2 {
     font-size: 18px;
   }

   .eighttxt>p {
     font-size: 13px;
   }

   .list2>.li5 {
     display: none;
   }

   .list2>li {
     padding: 8px;
   }

   .tenh2>h2 {
     font-size: 16px;
   }

   .tenp>p {
     font-size: 12px;
   }

   .elevenh1 {
     font-size: 30px;
   }

   .elevenp {
     font-size: 13px;
   }

   .thirteentxt>p {
     font-size: 11px;
     width: 60%;
   }

   .thirteentxt>h1 {
     font-size: 18px;
   }

   .fifteen>h1 {
     font-size: 25px;
   }

   .fifteen>p {
     font-size: 15px;
   }

   .seventeen>h1 {
     font-size: 30px;
   }

   .boxmain {
     display: block;
   }

   .box1 {
     width: 100%;
   }

   .box2 {
     width: 100%;
   }

   .box3 {
     width: 100%;
   }

   .nineteen>h1 {
     font-size: 30px;
   }

   .twenty1>h1 {
     font-size: 30px;
   }

   .twenty2 {
     display: block;
   }

   div.relative {

     width: 85%;
   }
   .twenty4>h1 {
    font-size: 33px;
    width: 50%;
    margin: auto;
}
   .txt {
     width: 100%;
     margin-top: 0;
   }

   .fimg3>img {
     height: 250px;
     width: 40%;
   }
   .txt3>h1{
    font-size: 24px;
   }
   .fleximg>img{
    height: 300px;
   }
   .txt3>p{
    font-size: 11px;
   }
   .twenty7>img{
    height: 340px;
   }
 }


 @media only screen and (max-width: 790px) {
   .firsth1 {
     font-size: 35px;
   }

   .firstp {
     font-size: 17px;
   }
 }

 @media only screen and (max-width: 600px) {
   .firsth1 {
     font-size: 35px;
   }

   .firstp {
     font-size: 12px;
   }

   .scrolimg {
     height: 350px;
   }

   .scrolimg2 {
     height: 300px;
   }

   .scrolimg3 {
     height: 300px;
   }

   .scrolimg4 {
     height: 300px;
   }

   .scrolimg5 {
     height: 300px;
   }

   .forthh1 {
     font-size: 40px;
   }

   .forthp {
     font-size: 12px;
   }

   .six {
     display: block;
   }

   .sixh1 {
     width: 100%;
   }

   .sixh1>h1 {
     font-size: 15px;
   }

   .sixp {
     width: 100%;
   }

   .sixp>p {
     font-size: 12px;
   }

   .seven {
     display: block;
   }

   .sevenimg {
     width: 100%;
   }

   .seventxt {
     width: 100%;
     margin: auto;
   }

   .seventxt>h2 {
     width: 70%;
     margin: auto;
     font-size: 15px;
   }

   .seventxt>p {
     width: 70%;
     margin: auto;
     font-size: 12px;
   }

   .eight {
     display: block;
   }

   .eighttxt {
     width: 100%;
     margin: auto;
   }

   .eighttxt>h2 {
     width: 70%;
     margin: auto;
     font-size: 17px;
   }

   .eighttxt>p {
     width: 70%;
     margin: auto;
     font-size: 12px;
   }

   .eightimg {
     margin-top: 20px;
     width: 100%;
   }

   .list2>.li4 {
     display: none;
   }

   .tenflex {
     display: block;
   }

   .tenh2 {
     width: 100%;
   }

   .tenh2>h2 {
     width: 70%;
     margin: auto;
   }

   .tenp {
     width: 100%;
   }

   .tenp>p {
     width: 70%;
     margin: auto;
   }

   .twelve {
     display: block;
   }

   .twelveimg {
     width: 100%;
   }

   .twelvetxt {
     width: 100%;
   }

   .thirteen {
     display: block;
   }

   .thirteenimg {
     width: 100%;
   }

   .thirteentxt {
     width: 100%;
   }

   .seventeen>h1 {
     font-size: 25px;
   }

   .seventeen>p {
     font-size: 15px;
   }

   .img1 {
     height: 400px;
   }

   .img2 {
     height: 300px;
   }

   .fimg3>img {
     height: 300px;
     width: 70%;
   }
   .twenty4>h1{
    font-size: 26px;
   }
   .twenty5{
    display: block;
   }
   .txt3{
    width: 100%;
   }
   .txt3>p{
    width: 60%;
   }
   .txt3>h1{
    width: 60%;
    font-size: 30px;
   }
   .fleximg{
    width: 100%;
   }
   .twenty7>img{
    height: 300px;
   }
 }

 @media only screen and (max-width: 575px) {
   .scrolimg {
     height: 300px;
   }

   .scrolimg2 {
     height: 300px;
   }

   .scrolimg3 {
     height: 300px;
   }

   .scrolimg4 {
     height: 300px;
   }

   .scrolimg5 {
     height: 300px;
   }

   .firsth1 {
     font-size: 30px;
   }

   .fifteen>h1 {
     font-size: 25px;
   }

   .twenty1>h1 {
     font-size: 25px;
   }
 }

 @media only screen and (max-width: 535px) {
   .scrolimg {
     height: 300px;
   }

   .scrolimg2 {
     height: 300px;
   }

   .scrolimg3 {
     height: 300px;
   }

   .scrolimg4 {
     height: 300px;
   }

   .scrolimg5 {
     height: 300px;
   }

   .firsth1 {
     font-size: 25px;
   }

   .firstp {
     font-size: 12px;
   }

   .tenh2>h2 {
     font-size: 15px;
   }

   .elevenh1 {
     font-size: 20px;
   }

   .elevenp {
     font-size: 12px;
   }

   .twelvetxt>h2 {
     font-size: 20px;
   }

   .twelvetxt>p {
     font-size: 12px;
   }

   .fifteen>P {
     font-size: 12px;
   }

   .img1 {
     height: 350px;
   }
   .txt3>h1{
    font-size: 24px;
    text-align: center;
   }
  .twenty7>img{
    height: 250px;
  }

 }

 @media only screen and (max-width: 500px) {
   .scrolimg {
     height: 250px;
     width: 100%;
   }

   .scrolimg2 {
     height: 250px;
     width: 95%;
   }

   .scrolimg3 {
     height: 250px;
     width: 95%;
   }

   .scrolimg4 {
     height: 250px;
     width: 95%;
   }

   .scrolimg5 {
     height: 250px;
     width: 95%;
   }

   .firsth1 {
     font-size: 25px;
   }

   .firstp {
     font-size: 12px;
   }
   .sevenimg>img {
    width: 95%;
}
   .eightimg>img {
  width: 95%;
  height: 350px;
}
.txt3>p {
  width: 80%;
  text-align: -webkit-center;
}
  .fifteen {
  width: 75%;
  margin: auto;
}
   .twelveimg>img {
     height: 300px;
   }

   .nineteen>h1 {
     font-size: 25px;
   }
 }

 @media only screen and (max-width: 482px) {
   .forthh1 {
     font-size: 20px;
   }

   .forthp {
     font-size: 9px;
   }

   .tenh2>h2 {
     font-size: 14px;
   }

   .tenp>p {
     font-size: 11px;
   }

   .mainbtn2>button {
     width: 150px;
     height: 40x;
     font-size: 12px;
   }

   .seventeen>h1 {
     font-size: 20px;
   }

   .seventeen>p {
     font-size: 12px;
   }
 }

 @media only screen and (max-width: 475px) {
   .firsth1 {
     font-size: 20px;
   }

   .firstp {
     font-size: 9px;
   }

   .sixh1>h1 {
     font-size: 13px;
   }

   .sixp>p {
     font-size: 9px;
   }

   .list2>.li3 {
     display: none;
   }

   .tenh2>h2 {
     font-size: 12px;
   }

   .twelveimg>img {
     height: 300px;
   }

   .nineteen>h1 {
     font-size: 20px;
   }

   .twenty1>h1 {
     font-size: 20px;
   }
 }

 @media only screen and (max-width: 410px) {
   .scrolimg {
     height: 250px;
   }

   .scrolimg2 {
     height: 250px;
   }

   .scrolimg3 {
     height: 250px;
   }

   .scrolimg4 {
     height: 250px;
   }

   .scrolimg5 {
     height: 250px;
   }
   .eleven {
    width: 70%;
    margin: auto;
}
   .mainbtn>button {
     font-size: 10px;
   }

   .tenh2>h2 {
     font-size: 11px;
   }

   .fifteen>p {
     width: 100%;
     font-size: 9px;
   }

   .img2 {
     height: 210px;
   }

   .img1 {
     height: 300px;
   }
   .twenty7>img{
    height: 200px;
    width: 95%;
   }
   .twenty4>h1 {
    font-size: 21px;
    width: 70%;
   }
 }

 @media only screen and (max-width: 375px) {
   .scrolimg {
     height: 250px;
     width: 101%;
   }

   .scrolimg2 {
     height: 250px;
     width: 95%;
   }

   .scrolimg3 {
     height: 250px;
     width: 95%;
   }

   .scrolimg4 {
     height: 250px;
     width: 95%;
   }

   .scrolimg5 {
     height: 250px;
     width: 95%;
   }
   .first {
    width: 95%;
    margin: auto;
}
  .first>p{
   font-size: 11px;
}
  .first>h1{
   font-size: 20px;
}
   .mainbtn>button {
     font-size: 9px;
     height: 30px;
     width: 100px;
   }
   .forthp {
    font-size: 11px;
    width: 95%;
}
   .sixh1>h1 {
     font-size: 11px;
   }

   .sixp>p {
    font-size: 11px;
        width: 95%;
   }

   .seventxt>h2 {
     font-size: 13px;
     margin-top: 5px;
   }

   .seventxt>p {
    font-size: 11px;
    width: 95%;
   }

   .sevenimg>img {
    width: 95%;
   }

   .eighttxt>h2 {
     font-size: 13px;
   }

   .eighttxt>p {
    font-size: 11px;
    width: 95%;
   }

   .eightimg>img {
    width: 95%;
   }

   .tenh2>h2 {
     font-size: 13px;
   }

   .tenp>p {
    font-size: 11px;
    width: 95%;
   }
   .eleven {
    width: 95%;
    margin: auto;
}
   .elevenh1 {
     font-size: 13px;
   }

   .elevenp {
     font-size:11px;
   }

   .twelveimg>img {
     height: 250px;
     width: 95%;
   }

   .twelvetxt>p {
     font-size: 11px;
     width: 95%;
   }

   .twelvetxt>h1 {
    font-size: 14px;
        margin-top: 0;
   }

   .thirteentxt>h1 {
     font-size: 13px;
   }

   .thirteentxt>p {
     font-size: 9px;
   }
   .fifteen {
    width: 95%;
    margin: auto;
}
.fifteen>p {
   font-size: 11px;
}
   .seventeen>h1 {
     font-size: 15px;
   }

   .seventeen>p {
    font-size: 11px;
    width: 95%;
   }

   .mainbtn2>button {
     width: 120px;
     height: 30px;
     font-size: 10px;
   }
   .txt2{
    width: 95%;
   }
   .twenty1>h1 {
     font-size: 17px;
   }

   .fimg3>img {
    width: 95%;
   }
   .img1 {
    height: 300px;
    width: 95%;
}
.fleximg>img {
  height: 270px;
  width: 95%;
}
.txt2>p {
     font-size: 9px;
   }
   .txt2>p {
    font-size: 12px;
    width: 100%;
  }
  .twenty4>h1 {
    font-size: 26px;
    width: 95%;}
    .txt3>h1 {
      font-size: 24px;
      width: 95%;
      margin-top: 0;
      text-align: center;
  }
  .txt3>p {
    width: 95%;
    font-size: 12px;
}
 .twenty7{
   height: 200px;
 }
 }

 @media only screen and (max-width: 375px) {
   .scrolimg {
     height: 200px;
   }

   .scrolimg2 {
     height: 200px;
   }

   .scrolimg3 {
     height: 200px;
   }

   .scrolimg4 {
     height: 200px;
   }

   .scrolimg5 {
     height: 200px;
   }

   .mainbtn>button {
     font-size: 9px;
     height: 30px;
     width: 100px;
   }

   .firsth1 {
     font-size: 15px;
   }

   .firstp {
     font-size: 8px;
   }

   

 }